*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFBF5;
}
.navbar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F7EFE5;
    color: #674188;
}
a{
    text-decoration: none;
    color: #674188;
}
.logo{
    margin: 2px 2px;
}
.logo{
    width: 20%;
}
.nav-items{
    width: 80%;
    justify-content: right;
    margin: 2px;
    display: flex;
}
.items{
    margin: 15px;
}
.main-body{
    display: flex;
}
.mid{
    
    height: auto;
    width: 70%;
    border: 1px solid white;
}
.side{
    width: 15%;
}
.foot{
    margin-top: auto;
    background-color:#F7EFE5 ;
    height: 50px;
    width: 100%;
    display: flex;
}
.footmid{
    display: flex;
    justify-content: center;
}
.mediaimg{
    margin: 5px;
    height: 40px;
    width: 40px;
}